.env
.env.*
!.env.example
!.env.testing
.git
.gitignore
node_modules
npm-debug.log
public/hot
bootstrap/cache/*
.idea
.vscode
docker/storage
vendor
composer.lock.tmp
Dockerfile*
docker-compose*
README*